				<!DOCTYPE html>
						<html ng-app="AppCAP">
						<head>
							<meta charset="utf-8">
							<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
							<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
							    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

							<script>
						    var app = angular.module("AppCAP", []);
						        
								app.controller("AppCAPCtrl", ['$scope', function ($scope) {
									$scope.appname = "Contas A Pagar";
									$scope.company = "Grupo Brasil Mobile";
									$scope.despesas = [
						        {emissao: new Date('2017-12-03'), descricao: 'Energia Elétrica', valor: 200, vencimento: new Date('2018-01-03'), status_cor:'#90EE90'},
										{emissao: new Date('2017-12-03'), descricao: 'Aluguel', valor: 200, vencimento: new Date('2018-01-03'), status_cor: '#FF9'},
										{emissao: new Date('2017-12-05'), descricao: 'Devmedia', valor: 59.90, vencimento: new Date('2018-01-03'), status_cor: '#CCC'},
										{emissao: new Date('2017-12-08'), descricao: 'IPTU', valor: 20, vencimento: new Date('2018-01-03'), status_cor: '#FF9'},
										{emissao: new Date('2017-12-07'), descricao: 'Telefone', valor: 100, vencimento: new Date('2018-01-03'), status_cor: '#CCC'},

									];
	                             $scope.categorias = [
	                                {nome:'Despesas Operacionais',codigo:1,grupo: 'Despesas'},
	                                {nome:'Despesas Financeiras',codigo:2,grupo: 'Despesas'},
	                                {nome:'Custo do servico prestado',codigo:3,grupo: 'Custos'},                                
	                                {nome:'Despesas Pessoais',codigo:4,grupo: 'Despesas'},
	                             ];
									$scope.adicionarDespesa = function(despesa) {
										$scope.despesas.push(angular.copy(despesa));
									}
									}]);
							
							</script>
							<style type="text/css">
								.bloco {
									width: 600px;
									margin-right:auto;
									margin-left: auto; 							
								}
								.form-control {
									margin-bottom: 5px;
								}
								.circulo {
									width: 20px;
									height: 20px;
									border-radius: 10px;
									background-color: #90EE90; 
									box-shadow: 0 0 4px white;
									margin-right: auto;
									margin-left: auto;
								}
								.marcada {
									background-color:  #f0ffff !important;
								}
								.col-md-4 {
									margin-right: auto;
									margin-left: auto;
									padding-top: 10px;
									padding-bottom: 20px;
									
								}
								.col-md-4 {
									margin-right: auto;
									margin-left: auto;
								}
							</style>
							<title>Sistema de Contas A Pagar</title>
						</head>
							
						<body ng-controller="AppCAPCtrl">
								<div class="bloco">
		<header>
					
								<nav>
							    <p>Menu de Navegacão</p>
								</nav>
															<h1 ng-bind="company"></h1>

								<h2>Cadastro de contas a pagar</h2>
							</header>
							<main>
								<section>
														
								</table>
								<div class="row">
									<div class="col-md-4">
										<label for="emissao_id">Data Emissão:</label>
								<input class="form-control" type="text" name="" id="emissao_id" ng-model="despesa.emissao">
									</div>
									<div class="col-md-8">

													<label for="desc_id">Descricao:</label>

								<input  class="form-control"  type="text" name="" id="desc_id" ng-model="despesa.descricao">
									</div>
								<div class="col-md-12">
								<label for="categoria_id">Categoria:</label>

	<select class="form-control" ng-model="despesa.categoria" ng-options="categoria.nome group by categoria.grupo  for categoria in categorias" id="categoria_id">
		<option value="">Selecione uma categoria </option>
		
	</select>
							</div>
							<div class="col-md-4">

												<label for="val_id">Valor:</label>

								<input  class="form-control"  type="text" name="" id="val_id" ng-model="despesa.valor">
							</div>	
							<div class="col-md-8">
								<label for="venc_id">Data Vencimento:</label>

								<input  class="form-control"  type="text" name="" id="venc_id" ng-model="despesa.vencimento">
							</div>
	<div class="col-md-4">
		<button class="btn btn-primary btn-block" ng-click="adicionarDespesa(despesa)">Adicionar nova despesa</button>
	</div>
							</div>
	<div class="col-md-4">
		<button class="btn btn-danger btn-block" ng-click="deletarDespesa(despesa)">Deletar despesa</button>
	</div>


													
				
			</div>
					<table class="table table-striped" style="margin-top:10px;">

									<thead>
										<tr>
											<th>Emissão</th>
																		<th>Descricao</th>
																													<th>Categoria</th>


											<th>Valor</th>
																		<th>Vencimento</th>
																		<th>Status</th>


										</tr>
									</thead>
									
									<tbody>
										<tr  ng-repeat="despesa in despesas" ng-class="{marcada: despesa.deletar}">
											<td><input type="checkbox" name="" ng-model="despesa.deletar"></td>
											<td>{{despesa.emissao | date:'dd/MM/yyyy' }}</td>				
											<td>{{despesa.descricao}}</td>
																						<td>{{despesa.categoria.nome}}</td>

										    <td>{{despesa.valor | currency:"R$ " }}</td>
										    <td>{{despesa.vencimento | date:'dd/MM/yyyy' }}</td>
										    <td><div class="circulo" ng-style="{'background-color'
										    	: despesa.status_cor}"></td>
										</tr>
									</tbody>
				</div>
			</section>
							</main>
							<footer>
								
							</footer>
						</body>
					</html>
